/* Add your own styles */

* {
  padding: 0%;
}

body {
  background-color: seashell;
  margin-top: 10px; /* Added from the second stylesheet */
  font-family: "Courier New", Courier, monospace; /* Added from the second stylesheet */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background-color: #4a5568; /* Updated from the second stylesheet */
  color: white;
  text-align: center;
  padding: 20px;
  display: flex; /* Added from the second stylesheet */
  align-items: center; /* Added from the second stylesheet */
  justify-content: center; /* Added from the second stylesheet */
  margin-bottom: 30px; /* Added from the second stylesheet */
}

.search-results {
  width: 70%;
}

.search-results > input {
  width: 80%;
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
  border-width: 0;
  margin-bottom: 20px;
  border: solid black 1px;
}

.search-results > button {
  width: 100px;
  padding: 5px;
  background-color: red;
  color: seashell;
  border-radius: 5px;
  border-width: 0;
}

.not-found {
  color: red;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

table {
  border: none;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  padding: 5px;
  min-width: 200px;
}

tr > th,
tbody tr:nth-child(even) {
  background-color: white;
}

#lookup {
  background-color: #38b2ac;
  padding: 5px;
  border-width: 0;
  width: 100px;
  margin-left: 100px;
  border-radius: 5px;
  color: white;
}

#lookup-cities {
  background-color: #4299e1;
  padding: 5px;
  border-width: 0;
  width: 100px;
  border-radius: 5px;
  color: white;
}

.btn-group {
  display: block;
  padding: 20px;
}

input {
  width: 500px;
  padding: 5px;
  border-radius: 5px;
  display: block;
}
